build_image:
  stage: build
  script:
    - docker pull $(awk '/^FROM/ { print $2; exit }' Dockerfile)
    - docker build -t docker-registry.bringnow.com/bringnow/letsencrypt-manager:latest .
  tags:
    - docker

deploy_image:
   stage: deploy
   script:
   - docker push docker-registry.bringnow.com/bringnow/letsencrypt-manager:latest
   tags:
    - docker
